{% extends "base.html" %} 
{% block title %}Facilities{% endblock %} 
{% block content %}
<h2 class="sports">Facilities</h2>
<h4 class="sports">The fun does not stop with the sporting challenges at Kingdom of Sports, come avail of our</h4>
<ul>
  <li><p class="sports">Pool Table</p></li><li><p class="sports">Table Tennis - €10.00 per hour, €10.00 deposit required</p></li>
  <li><p class="sports">Foosball, air hockey and other games</p></li>
  <li><p class="sports">Enjoy refreshments in our on-site café area</p></li>
  <li><p class="sports">See the latest sports events and news on our flat screen TVs</p></li>
  <li><p class="sports">Listen to our stereo-pumped music all day</p></li>
</ul>
{% endblock %}
