{% extends "base.html" %} 
{% block title %}Groups{% endblock %} 
{% block content %}
<h2 class="sports">Packages</h2>
<div class="row content-row">
  <div class="col-md-7">
    <h3 class="sports">Stags / Hens</h3>
    <ul>
      <li>€10 Off–Peak (Mon to Thurs) for 2hrs of playing time</li>
      <li>€15 Peak (Fri – Sun & Bank Holidays) for 2hrs of playing time
      <li>With food:* €7 extra per person</li>
    </ul>
    <h3 class="sports">Club Nights / Groups under 16</h3>
    <p class="sports">Download your invitations for a Kingdom of Sports party <a href='/downloads/invitation.pdf'>here</a>.</p>
    <ul>
      <li>€10 Off–Peak (Mon to Thurs) for 2hrs of playing time</li>
      <li>€15 Peak (Fri – Sun & Bank Holidays) for 2hrs of playing time
      <li>With food:* €5 extra per person</li>
    </ul>
    <h3 class="sports">School Tours</h3>
    <h6 class="sports">Kingdom of Sports provides options for a full day tour with our local partners, all of which can be booked and paid directly through Kingdom of Sports. Download the brochure <a href="/downloads/schools.pdf">here</a></h6>
    
    <h4>Kingdom of Sports only</h4>
    <h5 class="sports">This option is for Kingdom of Sports only. All events in Kingdom of Sports are included and food can be added in as an extra.</h5>
    <ul>
      <li>Kingdom of Sports only - €10 per child (free tea/coffee for teachers)</li>
      <li>Kingdom of Sports with food - €15 per child (free tea/coffee for teachers)
    </ul>
    
    <h4>Fore Abbey</h4>
    <h5 class="sports">Fore Abbey is a fantastic Christian monastery site located just outside Mullingar with four largely intact remains. Students through our fully guided tour will be taught about the Foundation of the Monastery and	The 7 wonders of Fore Abbey. Fore is great fun educational excursion for all students and supervisors alike and is highly recommended by Kingdom of Sports.</h5>
    <ul>
      <li>Kingdom of Sports & Fore Abbey Guided tour - €15 per child (free tea/coffee for teachers)</li>
      <li>Kingdom of Sports & Fore Abbey Guided tour with food - €20 per child (free tea/coffee for teachers)</li>
    </ul>
    
    <h4>Cinema</h4>
    <h5 class="sports">Mullingar IMC is modern and comfortable cinema where tours can choose from an extensive back catalogue of Movies and any new releases that may be out at the time. Beat the Irish weather with this fully indoor full day tour.</h5>
    <ul>
      <li>Kingdom of Sports & Cinema - €15 per child (free tea/coffee for teachers)</li>
      <li>Kingdom of Sports & Cinema with food - €20 per child (free tea/coffee for teachers)</li>
    </ul>
    
    <h4>Belvedere</h4>
    <ul>
      <li>Kingdom of Sports & Belvedere - €15 per child (free tea/coffee for teachers)</li>
      <li>Kingdom of Sports & Belvedere with food - €20 per child (free tea/coffee for teachers)</li>
    </ul>
    
    
    <h3 class="sports">Corporate</h3>
    <ul>
      <li>€10 Off–Peak (Mon to Thurs) for 2hrs of playing time</li>
      <li>€15 Peak (Fri – Sun & Bank Holidays) for 2hrs of playing time
      <li>With food:* €7 extra per person</li>
    </ul>
  </div>
  <div class="col-md-4" id=blurb>
    <h3>Group Extras</h3>
    <p>
      All our group bookings (>20) are entitled to free Competition service! All competitors scores are evaluated and a free prized given to the Kingdom of Sports
      Champion! <br />
      <br /> Prize winners and runner ups will be presented and photographed on our Kingdom of Sports podium to go on our Wall of Fame! <br />
      <br /> Groups also receive an extra half an hour playing time as we have found groups can take longer to complete the Arena <br />
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>*Food includes a selection of wedges, pizza and chicken to be eaten on site in our café area. Pre-Booking is essential for food service</p>
    <h4 class="sports">All occasions are catered for, so for your next:</h4>
    <br />
    <ul>
      <li>Birthday party</li>
      <li>Club event</li>
      <li>Meeting</li>
      <li>Medal ceremony</li>
    </ul>
    <p>Or for any event, you will find Kingdom of Sports to be the perfect venue.</p>
    <br />
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>
      Download your invitations for a Kingdom of Sports party <a href='/downloads/invitation.pdf' target='_blank'>here</a>. When the file opens, you can download or print
      straight from the window.
    </h4>
    <br />
  </div>
</div>
{% endblock %}
