{% extends "base.html" %} 
{% block title %}Testimonials{% endblock %} 
{% block content %}
<h2 class="sports">Testimonials</h2>

<h3 class="sports">"Great fun"</h3>
<p class="sports">Reviewed 11 March 2014</p>
<h5 class="sports">What I liked about Kingdom Of Sports, whether it's 2 or 10 people, you can get a chance to try out other different types of sports. It's great fun with an edge of competitiveness.</h5>

<h3 class="sports">"Great place!"</h3>
<p class="sports">Reviewed 30 June 2014</p>
<h5 class="sports">Me and my friends have been and I've returned with my younger brothers. Place is really great. Lots of different games to try out. Advertise it more guys, this place should be super busy, its fantastic!</h5>

<h3 class="sports">"Great craic!"</h3>
<p class="sports">Reviewed 25 November 2013</p>
<h5 class="sports">Really enjoyable indoor sports activity center. Great facilities and friendly staff. Will definitely be going back!</h5>

<h3 class="sports">"An amazing activity for both the young and the young at heart"</h3>
<p class="sports">Reviewed 1 September 2013</p>
<h5 class="sports">Had a brilliant time trying out new sports including American batting cages rugby, Gaelic, football tennis basketball and much much more. All for just 10 euro.</h5>


{% endblock %}
